In [1]:
# little trick to make spark work locally
import findspark

findspark.init()

In [6]:
# Create SparkSession
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[1]").appName("blogpost").config("spark.driver.bindAddress", "127.0.0.1").getOrCreate()

26/01/06 13:54:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
sdf_taxi_data = spark.read.csv("../data/taxi_trip_data.csv", header=True, inferSchema=True)
sdf_taxi_data.show(5)

+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|pickup_location_id|dropoff_location_id|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
|        2|2018-02-01 15:19:54|2018-02-01 15:21:39|              2|         0.12|        1|                 N|           2|        3.0|  0.0|    0.5|       0.0|         0.0|          0.3|         3.8|               237|                237|
|        4|2018-11-08 16:28:57|2018-11-08 17:13:42|              1|         4.33|        1|                 N|           1|       27.0|  1.0|    0.5|      5.76|         0.0|          0.3|       34.56|               170|                151|
|        1|2018-03-05 13:05:40|2018-03-05 13:31:08|              1|          7.1|        1|                 N|           1|       25.0|  0.0|    0.5|      5.15|         0.0|          0.3|       30.95|               163|                 87|
|        1|2018-02-08 01:36:14|2018-02-08 03:08:17|              4|         22.3|        1|                 N|           1|       79.0|  0.5|    0.5|     16.05|         0.0|          0.3|       96.35|               144|                 85|
|        2|2018-05-17 11:19:44|2018-05-17 12:15:15|              2|         9.36|        1|                 N|           1|       39.5|  0.0|    0.5|      9.21|        5.76|          0.3|       55.27|               138|                170|
+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+------------------+-------------------+
only showing top 5 rows

In [42]:
sdf_taxi_data.printSchema()

root
 |-- vendor_id: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- imp_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- pickup_location_id: integer (nullable = true)
 |-- dropoff_location_id: integer (nullable = true)

In [33]:
import pyspark.sql.functions as F
from pyspark.sql import Window

In [10]:
sdf_taxi_data.count()

1000000

In [31]:
sdf_taxi_zone_geo = spark.read.csv("../data/taxi_zone_geo.csv", header=True, inferSchema=True)
sdf_taxi_zone_geo.show(5)

+-------+--------------------+-------+
|zone_id|           zone_name|borough|
+-------+--------------------+-------+
|      1|      Newark Airport|    EWR|
|      3|Allerton/Pelham G...|  Bronx|
|     18|        Bedford Park|  Bronx|
|     20|             Belmont|  Bronx|
|     31|          Bronx Park|  Bronx|
+-------+--------------------+-------+
only showing top 5 rows

In [87]:
sdf_prepared_data = (
    sdf_taxi_data
    .dropDuplicates()
    # keep only the evening rides in a time range
    .filter(F.date_format(F.col("pickup_datetime"), "MMyyyy") > "032017")
    .filter(F.date_format(F.col("pickup_datetime"), "MMyyyy") <= "112018")
    .filter(F.date_format(F.col("dropoff_datetime"), "HH") >= "17")
    .filter(F.date_format(F.col("dropoff_datetime"), "HH") <= "23")
    # bind the fare amount to a range
    .withColumn(
        "fare_amount",
        F.when(F.col("fare_amount") < 0, F.lit(0))
        .when(F.col("fare_amount") > 50, F.lit(50))
        .otherwise(F.col("fare_amount"))
    )
    # remove rides to and from the airport
    .join(
        sdf_taxi_zone_geo
        .withColumnRenamed("zone_id", "pickup_location_id"),
        on="pickup_location_id"
    )
    .withColumnRenamed("zone_name", "pickup_zone_name")
    .withColumnRenamed("borough", "pickup_borough")
    .filter(~F.lower(F.col("pickup_zone_name")).like("%airport%"))
    .join(
        sdf_taxi_zone_geo
        .withColumnRenamed("zone_id", "dropoff_location_id"),
        on="dropoff_location_id"
    )
    .withColumnRenamed("zone_name", "dropoff_zone_name")
    .withColumnRenamed("borough", "dropoff_borough")
    .filter(~F.lower(F.col("dropoff_zone_name")).like("%airport%"))
    # take the first 3 rides per day for each pickup location
    .withColumn(
        "row_number",
        F.row_number()
        .over(
            Window
            .partitionBy("pickup_location_id", F.date_format(F.col("pickup_datetime"), "ddMMyyyy"))
            .orderBy(F.asc("pickup_datetime"))
        )
    )
    .filter(F.col("row_number") < 4)
    .withColumn("month", F.month(F.col("pickup_datetime")))
    .withColumn("day_of_week", F.dayofweek(F.col("pickup_datetime")))
    .withColumn("day_of_month", F.dayofmonth(F.col("pickup_datetime")))
    .withColumn("store_and_fwd_flag", F.when(F.col("store_and_fwd_flag") == "N", 0).otherwise(1))
    .withColumn("random_number", F.rand())
)

sdf_training = sdf_prepared_data.filter(F.col("random_number") > 0.2)
sdf_test = sdf_prepared_data.filter(F.col("random_number") <= 0.2)

In [51]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import RandomForestRegressor

In [ ]:
feature_cols = [
    "passenger_count",
    "trip_distance",
    "rate_code",
    "store_and_fwd_flag",
    "payment_type",
    "fare_amount",
    "tolls_amount",
    "imp_surcharge",
    "month",
    "day_of_week",
    "day_of_month",
]

assembler = VectorAssembler(
    inputCols=feature_cols,
    outputCol="features"
)

rf = RandomForestRegressor(
    labelCol="tip_amount",
    featuresCol="features",
    predictionCol="prediction",
    numTrees=10,
    maxDepth=4,
    featureSubsetStrategy="auto",
    seed=42,
    bootstrap=True,
)

pipeline = Pipeline(stages=[assembler, rf])

model = pipeline.fit(sdf_training)

In [81]:
importances = model.stages[-1].featureImportances
importance_dict = dict(zip(feature_cols, importances, strict=False))
importance_dict

{'passenger_count': np.float64(0.0005650769679928612),
 'trip_distance': np.float64(0.03947873128856189),
 'rate_code': np.float64(0.057175622843374456),
 'store_and_fwd_flag': np.float64(0.0004073739239823727),
 'payment_type': np.float64(0.6493802005042605),
 'fare_amount': np.float64(0.1994133028403176),
 'tolls_amount': np.float64(0.039535605550588784),
 'imp_surcharge': np.float64(0.0023625643643575838),
 'month': np.float64(0.008104483413638217),
 'day_of_week': np.float64(9.70230411804262e-07),
 'day_of_month': np.float64(0.0035760680725137753)}

In [82]:
from pyspark.ml.evaluation import RegressionEvaluator

evaluator = RegressionEvaluator()
evaluator.setPredictionCol("prediction")
evaluator.setLabelCol("tip_amount")

RegressionEvaluator_3a1915527587

In [83]:
sdf_train_predictions = model.transform(sdf_training)
sdf_train_predictions.show(10)

+-------------------+------------------+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+--------------------+--------------+--------------------+---------------+----------+-----+-----------+------------+-------------------+--------------------+--------------------+
|dropoff_location_id|pickup_location_id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|    pickup_zone_name|pickup_borough|   dropoff_zone_name|dropoff_borough|row_number|month|day_of_week|day_of_month|      random_number|            features|          prediction|
+-------------------+------------------+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+--------------------+--------------+--------------------+---------------+----------+-----+-----------+------------+-------------------+--------------------+--------------------+
|                 97|                 2|        2|2018-07-28 16:59:58|2018-07-28 17:37:54|              1|        15.94|        2|                 0|           2|       50.0|  0.0|    0.5|       0.0|        5.76|          0.3|       58.56|         Jamaica Bay|        Queens|         Fort Greene|       Brooklyn|         1|    7|          7|          28| 0.8833404490808713|[1.0,15.94,2.0,0....|0.003037115339440...|
|                 68|                 3|        2|2018-09-05 17:09:01|2018-09-05 18:09:41|              1|        17.62|        1|                 0|           1|       50.0|  1.0|    0.5|     12.59|        2.64|          0.3|       75.53|Allerton/Pelham G...|         Bronx|        East Chelsea|      Manhattan|         1|    9|          4|           5| 0.9237544000491112|[1.0,17.62,1.0,0....|   6.249146143214037|
|                142|                 3|        2|2018-10-06 22:20:35|2018-10-06 22:53:45|              1|        17.08|        1|                 0|           1|       48.5|  0.5|    0.5|       0.0|         0.0|          0.3|        49.8|Allerton/Pelham G...|         Bronx| Lincoln Square East|      Manhattan|         1|   10|          7|           6|0.31934193815233225|[1.0,17.08,1.0,0....|   5.513852664705171|
|                139|                 3|        2|2018-11-08 19:04:21|2018-11-08 19:44:24|              1|        20.56|        5|                 0|           1|       50.0|  0.0|    0.5|       0.0|        5.76|          0.3|       60.16|Allerton/Pelham G...|         Bronx|           Laurelton|         Queens|         1|   11|          5|           8| 0.8927064824039638|[1.0,20.56,5.0,0....|   8.998198802021554|
|                137|                 3|        1|2018-04-10 17:46:45|2018-04-10 18:41:53|              2|         14.1|        1|                 0|           1|       47.5|  1.0|    0.5|       5.0|         0.0|          0.3|        54.3|Allerton/Pelham G...|         Bronx|            Kips Bay|      Manhattan|         1|    4|          3|          10| 0.8956890399851403|[2.0,14.1,1.0,0.0...|   5.513852664705171|
|                189|                 3|        2|2018-11-10 19:25:06|2018-11-10 20:28:00|              1|        22.37|        1|                 0|           1|       50.0|  0.0|    0.5|       0.0|        5.76|          0.3|       73.06|Allerton/Pelham G...|         Bronx|    Prospect Heights|       Brooklyn|         1|   11|          7|          10| 0.5127017887687251|[1.0,22.37,1.0,0....|   6.249146143214037|
|                142|                 3|        1|2018-09-30 21:55:19|2018-09-30 22:24:24|              1|         14.2|        1|                 0|           1|       40.5|  0.5|    0.5|      6.27|         0.0|          0.3|       48.07|Allerton/Pelham G...|         Bronx| Lincoln Square East|      Manhattan|         1|    9|          1|          30| 0.9217323463053484|[1.0,14.2,1.0,0.0...|   5.483905433065766|
|                129|                 4|        2|2018-03-01 19:40:24|2018-03-01 20:05:59|              1|         9.48|        1|                 0|           1|       29.0|  1.0|    0.5|      6.16|         0.0|          0.3|       36.96|       Alphabet City|     Manhattan|     Jackson Heights|         Queens|         1|    3|          5|           1| 0.6487330868688803|[1.0,9.48,1.0,0.0...|   5.589352655003509|
|                181|                 4|        2|2018-03-01 23:14:43|2018-03-01 23:43:01|              6|         7.34|        1|                 0|           1|       25.5|  0.5|    0.5|      5.36|         0.0|          0.3|       32.16|       Alphabet City|     Manhattan|          Park Slope|       Brooklyn|         2|    3|          5|           1| 0.2063047384326071|[6.0,7.34,1.0,0.0...|   4.935082968370441|
|                236|                 4|        2|2018-06-01 17:37:40|2018-06-01 18:11:59|              2|         5.03|        1|                 0|           1|       23.5|  1.0|    0.5|       4.5|         0.0|          0.3|        29.8|       Alphabet City|     Manhattan|Upper East Side N...|      Manhattan|         1|    6|          6|           1|0.48302079209680937|[2.0,5.03,1.0,0.0...|  4.6583632817282155|
+-------------------+------------------+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+--------------------+--------------+--------------------+---------------+----------+-----+-----------+------------+-------------------+--------------------+--------------------+
only showing top 10 rows

In [84]:
print(evaluator.evaluate(sdf_train_predictions, {evaluator.metricName: "rmse"}))
print(evaluator.evaluate(sdf_train_predictions, {evaluator.metricName: "r2"}))
print(evaluator.evaluate(sdf_train_predictions, {evaluator.metricName: "mae"}))

3.2560588765354903

0.339770764064412

1.6862356593009664

In [85]:
sdf_test_predictions = model.transform(sdf_test)
sdf_test_predictions.show(10)

+-------------------+------------------+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+--------------------+--------------+--------------------+---------------+----------+-----+-----------+------------+--------------------+--------------------+------------------+
|dropoff_location_id|pickup_location_id|vendor_id|    pickup_datetime|   dropoff_datetime|passenger_count|trip_distance|rate_code|store_and_fwd_flag|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|imp_surcharge|total_amount|    pickup_zone_name|pickup_borough|   dropoff_zone_name|dropoff_borough|row_number|month|day_of_week|day_of_month|       random_number|            features|        prediction|
+-------------------+------------------+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+--------------------+--------------+--------------------+---------------+----------+-----+-----------+------------+--------------------+--------------------+------------------+
|                191|                 3|        2|2018-11-03 18:39:44|2018-11-03 19:21:25|              1|        15.14|        1|                 0|           1|       46.5|  0.0|    0.5|       0.0|        5.76|          0.3|       53.06|Allerton/Pelham G...|         Bronx|      Queens Village|         Queens|         1|   11|          7|           3|  0.0791587733668151|[1.0,15.14,1.0,0....| 6.249146143214037|
|                 42|                 4|        1|2018-07-02 21:49:13|2018-07-02 22:03:31|              1|          8.0|        1|                 0|           1|       23.5|  0.5|    0.5|      10.0|         0.0|          0.3|        34.8|       Alphabet City|     Manhattan|Central Harlem North|      Manhattan|         1|    7|          2|           2| 0.08625830081182173|[1.0,8.0,1.0,0.0,...|4.6583632817282155|
|                 49|                 4|        2|2018-09-02 18:56:48|2018-09-02 19:26:38|              1|         4.86|        1|                 0|           1|       22.0|  0.0|    0.5|       0.0|         0.0|          0.3|        22.8|       Alphabet City|     Manhattan|        Clinton Hill|       Brooklyn|         1|    9|          1|           2| 0.13605994094986773|[1.0,4.86,1.0,0.0...|4.6583632817282155|
|                 74|                 4|        1|2018-11-02 18:30:52|2018-11-02 19:01:47|              1|          5.9|        1|                 0|           1|       23.0|  1.0|    0.5|       6.2|         0.0|          0.3|        31.0|       Alphabet City|     Manhattan|   East Harlem North|      Manhattan|         1|   11|          6|           2| 0.10299881959096613|[1.0,5.9,1.0,0.0,...|4.6583632817282155|
|                  4|                 4|        2|2018-11-03 20:37:57|2018-11-03 21:10:30|              1|          7.0|        1|                 0|           1|       25.5|  0.5|    0.5|      5.36|         0.0|          0.3|       32.16|       Alphabet City|     Manhattan|       Alphabet City|      Manhattan|         1|   11|          7|           3| 0.17814193851970728|[1.0,7.0,1.0,0.0,...| 4.954882485124215|
|                227|                 4|        1|2018-04-04 22:40:20|2018-04-04 23:08:26|              2|         10.5|        1|                 0|           1|       32.0|  0.5|    0.5|       4.0|         0.0|          0.3|        37.3|       Alphabet City|     Manhattan|    Sunset Park East|       Brooklyn|         1|    4|          4|           4|  0.1269615936959918|[2.0,10.5,1.0,0.0...| 5.589352655003509|
|                142|                 4|        2|2018-03-05 18:39:03|2018-03-05 19:12:56|              2|         4.49|        1|                 0|           1|       22.5|  1.0|    0.5|      4.86|         0.0|          0.3|       29.16|       Alphabet City|     Manhattan| Lincoln Square East|      Manhattan|         1|    3|          2|           5| 0.11380489303334274|[2.0,4.49,1.0,0.0...|4.6583632817282155|
|                143|                 4|        1|2018-04-05 18:11:30|2018-04-05 18:46:48|              1|          5.4|        1|                 0|           1|       23.5|  1.0|    0.5|       2.0|         0.0|          0.3|        27.3|       Alphabet City|     Manhattan| Lincoln Square West|      Manhattan|         1|    4|          5|           5|0.027363167700884095|[1.0,5.4,1.0,0.0,...|4.6583632817282155|
|                179|                 4|        2|2018-05-05 23:06:40|2018-05-05 23:41:13|              2|         9.47|        1|                 0|           1|       33.5|  0.5|    0.5|       6.0|         0.0|          0.3|        40.8|       Alphabet City|     Manhattan|         Old Astoria|         Queens|         1|    5|          7|           5| 0.10146370554524431|[2.0,9.47,1.0,0.0...| 5.589352655003509|
|                  4|                 4|        2|2018-06-06 23:03:06|2018-06-06 23:03:11|              5|          0.0|        5|                 0|           1|       50.0|  0.0|    0.5|     11.56|         0.0|          0.3|       69.36|       Alphabet City|     Manhattan|       Alphabet City|      Manhattan|         1|    6|          4|           6| 0.06939734170204814|[5.0,0.0,5.0,0.0,...| 8.782528665092846|
+-------------------+------------------+---------+-------------------+-------------------+---------------+-------------+---------+------------------+------------+-----------+-----+-------+----------+------------+-------------+------------+--------------------+--------------+--------------------+---------------+----------+-----+-----------+------------+--------------------+--------------------+------------------+
only showing top 10 rows

In [86]:
print(evaluator.evaluate(sdf_test_predictions, {evaluator.metricName: "rmse"}))
print(evaluator.evaluate(sdf_test_predictions, {evaluator.metricName: "r2"}))
print(evaluator.evaluate(sdf_test_predictions, {evaluator.metricName: "mae"}))

2.9652940767437475

0.3725774538671087

1.6625858077619693

In [ ]:
model.write().save("../data/model")